# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
data = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
display(data.shape)
data.head()

(32658, 8)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
data.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        24775
Annual Salary         7883
Hourly Rate          24775
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
data['Salary or Hourly'].value_counts()

Salary    24775
Hourly     7883
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
data['Department'].value_counts()

POLICE                   12973
FIRE                      4800
STREETS & SAN             2194
OEMC                      2044
WATER MGMNT               1878
AVIATION                  1612
TRANSPORTN                1103
GENERAL SERVICES           972
PUBLIC LIBRARY             932
FAMILY & SUPPORT           621
FINANCE                    575
HEALTH                     516
LAW                        405
CITY COUNCIL               400
BUILDINGS                  266
COMMUNITY DEVELOPMENT      214
BUSINESS AFFAIRS           168
BOARD OF ELECTION          112
DoIT                       101
PROCUREMENT                 86
MAYOR'S OFFICE              85
CITY CLERK                  85
CULTURAL AFFAIRS            76
ANIMAL CONTRL               73
HUMAN RESOURCES             68
INSPECTOR GEN               63
IPRA                        56
BUDGET & MGMT               44
ADMIN HEARNG                38
DISABILITIES                29
TREASURER                   24
HUMAN RELATIONS             17
COPA                        17
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
data_test = data[['Hourly Rate']]
data_test = data_test.dropna()

In [8]:
#First of all I'll clean the $ symbol to work with float data
def clean (x):
    x=x.replace('$','')
    x=pd.to_numeric(x, errors='coerce')
    return x
data_test['Hourly Rate']=list(map(clean, data_test['Hourly Rate']))
data_test.head()

    Hourly Rate
11        14.51
54        19.66
56        46.10
57        35.60
60         2.65

In [9]:
from scipy.stats import ttest_1samp
stat, pval = ttest_1samp(data_test, 30)

In [10]:
# Null hypothesis or H0: mean Hourly Rate = 30
# Alternative hyp or H1: mean Hourly Rate != 30
print('stat is  ', stat)
print('pvalue for the two-sided test is ', pval)

stat is   [21.00353219]
pvalue for the two-sided test is  [2.40480114e-95]

In [11]:
#pvalue is < 0.05, this means the hourly mean salary is different from $30

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [12]:
#First of all I'll extract the data from the police department
data_test = data[(data['Department'] == 'POLICE')]
data_test = data_test[['Annual Salary']]
data_test = data_test.dropna()
data_test['Annual Salary']=list(map(clean, data_test['Annual Salary']))
data_test.head()

   Annual Salary
1       104628.0
4       111474.0
7       104628.0
8        96060.0
9        53076.0

In [13]:
# Null hypothesis or H0: mean Annual Salary value >= 86000
# Alternative hyp or H1: mean Annual Salary value < 86000
stat, pval = ttest_1samp(data_test, 86000)
print('stat is  ', stat)
print('pvalue for the one-sided test is ', pval/2)

stat is   [12.57311698]
pvalue for the one-sided test is  [2.41009857e-36]

In [14]:
#pvalue is < 0.05, this means the mean Annual Salary value is less than 86000

Using the `crosstab` function, find the department that has the most hourly workers.

In [15]:
matrix = data[data['Salary or Hourly'] == 'Hourly']
matrix['Department'].value_counts()

STREETS & SAN            1873
WATER MGMNT              1512
OEMC                     1212
AVIATION                 1056
GENERAL SERVICES          767
TRANSPORTN                707
FAMILY & SUPPORT          300
PUBLIC LIBRARY            224
CITY COUNCIL               52
LAW                        44
FINANCE                    43
POLICE                     32
ANIMAL CONTRL              16
CULTURAL AFFAIRS           10
BUSINESS AFFAIRS            8
MAYOR'S OFFICE              7
PROCUREMENT                 4
HEALTH                      4
COMMUNITY DEVELOPMENT       4
CITY CLERK                  3
FIRE                        2
HUMAN RESOURCES             1
BUDGET & MGMT               1
TREASURER                   1
Name: Department, dtype: int64

In [16]:
data_crosstab = pd.crosstab(data['Department'], data['Salary or Hourly'], margins = False)
data_crosstab

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      38
ANIMAL CONTRL              16      57
AVIATION                 1056     556
BOARD OF ELECTION           0     112
BOARD OF ETHICS             0       8
BUDGET & MGMT               1      43
BUILDINGS                   0     266
BUSINESS AFFAIRS            8     160
CITY CLERK                  3      82
CITY COUNCIL               52     348
COMMUNITY DEVELOPMENT       4     210
COPA                        0      17
CULTURAL AFFAIRS           10      66
DISABILITIES                0      29
DoIT                        0     101
FAMILY & SUPPORT          300     321
FINANCE                    43     532
FIRE                        2    4798
GENERAL SERVICES          767     205
HEALTH                      4     512
HUMAN RELATIONS             0      17
HUMAN RESOURCES             1      67
INSPECTOR GEN               0      63
IPRA                        0      56
LAW                        44     361
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              7      78
OEMC                     1212     832
POLICE                     32   12941
POLICE BOARD                0       2
PROCUREMENT                 4      82
PUBLIC LIBRARY            224     708
STREETS & SAN            1873     321
TRANSPORTN                707     396
TREASURER                   1      23
WATER MGMNT              1512     366

In [17]:
#People from the STREETS & SAN are the most hourly workers

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [18]:
data_test = data[(data['Salary or Hourly'] == 'Hourly') & (data['Department'] == 'STREETS & SAN')]

In [19]:
data_test = data_test[['Hourly Rate']]
data_test = data_test.dropna()
data_test['Hourly Rate']=list(map(clean, data_test['Hourly Rate']))

In [20]:
# Null hypothesis or H0: mean Hourly Rate >= 35
# Alternative hyp or H1: mean Hourly Rate < 35
stat, pval = ttest_1samp(data_test, 35)
print('stat is  ', stat)
print('pvalue for the two-sided test is ', pval)

stat is   [-7.17261009]
pvalue for the two-sided test is  [1.05524863e-12]

In [21]:
#pvalue is < 0.05, this means the mean Hourly Rate is less than 35

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [22]:
data_test = data[data['Salary or Hourly'] == 'Hourly']
data_test['Hourly Rate']=list(map(clean, data_test['Hourly Rate']))
data_test = data_test['Hourly Rate']

/var/folders/cv/t2rhm3mj23j8jm825rqyn7bm0000gn/T/ipykernel_24086/169996074.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test['Hourly Rate']=list(map(clean, data_test['Hourly Rate']))

In [23]:
import scipy.stats

confidence_level = 0.95
degrees_freedom = len(data_test) - 1 
sample_mean = np.mean(data_test)

sample_standard_error = scipy.stats.sem(data_test) 
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [24]:
print( 'Confidence interval is ', confidence_interval, '.' )

Confidence interval is  (32.60050319432687, 33.135881430818976) .

In [25]:
#More or less 95% of the hourly workers would have a mean hourly wage between these two values

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [26]:
data_test = data[(data['Salary or Hourly'] == 'Salary') & (data['Department'] == 'POLICE')]
data_test['Annual Salary']=list(map(clean, data_test['Annual Salary']))
data_test = data_test['Annual Salary']

/var/folders/cv/t2rhm3mj23j8jm825rqyn7bm0000gn/T/ipykernel_24086/48119609.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test['Annual Salary']=list(map(clean, data_test['Annual Salary']))

In [27]:
confidence_level = 0.95
degrees_freedom = len(data_test) - 1 
sample_mean = np.mean(data_test)

sample_standard_error = scipy.stats.sem(data_test) 
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [28]:
print( 'Confidence interval is ', confidence_interval, '.' )

Confidence interval is  (87549.78923170577, 88122.26146607645) .

In [29]:
#More or less 95% of the salaried employeed in the police would have a mean salary between these two values

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [30]:
#Still working on it